:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #A5D364;

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1.25rem;
  background: #FFF;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
  max-width: 95%;
  height: 2000px;
  margin: 2.5% auto;
  }

}

.header {
  padding: 2.3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #EAEAEA;
  justify-content: space-between;
  align-items: center;

  .header__left, .header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
  }
  .header__left {
    gap: 1rem;
  }
  .header__right {
    gap: 2rem;
  }
  li {
    display: flex;
    gap: 0.5rem
  }
}

.content {
  display: flex;
  align-items: start !important;
  justify-content: start ;

  h1 {
    align-self: flex-start !important;
  }
}